In [4]:
import pandas as pd

In [5]:
df: pd.DataFrame = pd.read_csv("Hostel.csv")

In [12]:
#　データセット内で各都市ごとにカウントする。
city_data_count: pd.DataFrame = df["City"].value_counts().reset_index()

In [14]:
# 行数を出力
df.shape[0]

342

In [15]:
# 列数を出力
df.shape[1]

16

In [17]:
city_data_count

           City  count
0         Tokyo    127
1         Osaka    104
2         Kyoto     78
3  Fukuoka-City     19
4     Hiroshima     14

In [129]:
import matplotlib
import matplotlib.pyplot as plt
matplotlib.use('TkAgg')

In [130]:
plt.figure(figsize=(8, 6))  # グラフのサイズを設定（任意）

# 棒グラフを描画
plt.bar(city_data_count["City"], city_data_count["count"])

# グラフのタイトルとラベルを設定
plt.title('bar chart')
plt.xlabel('City')
plt.ylabel('count')

# グラフを表示
plt.show()
plt.savefig('assets/bar_char.png')

In [131]:
#　データセット内で価格が3000円を超えるホステルを抽出する。
city_price_over_3000: pd.DataFrame = df[["City", "price.from"]][df["price.from"] > 3000 ]

In [132]:
city_price_over_3000: pd.DataFrame = city_price_over_3000["City"].value_counts().reset_index()

In [133]:
plt.figure(figsize=[8, 6])

# 棒グラフを描画
plt.bar(city_price_over_3000["City"], city_price_over_3000["count"])

# グラフのタイトルとラベルを設定
plt.title('bar chart')
plt.xlabel('City')
plt.ylabel('count')

# グラフを表示
plt.show()
plt.savefig('assets/bar_char_price_over_3000.png')

In [135]:
# 都市毎でスタッフ平均値を算出
mean_staff_each_city: pd.DataFrame =  df[["City", "staff"]].groupby("City")["staff"].mean().reset_index()

In [136]:
plt.figure(figsize=[8, 6])

# 棒グラフを描画
plt.bar(mean_staff_each_city["City"], mean_staff_each_city["staff"])

# グラフのタイトルとラベルを設定
plt.title('bar chart')
plt.xlabel('City')
plt.ylabel('staff')

# グラフを表示
plt.show()
plt.savefig('assets/bar_char_mean_staff_each_city.png')